:root {
  --colour-blue: #3467eb;
  --colour-lightblue: #add8e6;
  --colour-green: #03873a;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--colour-lightblue);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

section.payment-method {
  max-width: 270px;
  background: #fff;
  box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.42);
}

.payment-method .step {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #636363;
  display: inline-block;
  opacity: 0.4;
}

.step-indicator {
  padding-top: 1rem;
}

.step-indicator[data-step='1'] .step-1 {
  opacity: 1;
}

/* Form */

.payment-method .step-text {
  border: none;
  text-align: inherit;
  color: #363636;
}

.payment-method fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.payment-method legend {
  font-size: 1.5rem;
  padding: 0.7rem 1.5rem 1.5rem;
  font-weight: 700;
}

.payment-method p {
  text-align: left;
  margin: 0;
  border-top: #c7c6c6 1px solid;
  font-weight: 500;
}

.payment-method label img {
  width: 3rem;
}

.payment-method label {
  padding: 0.7rem 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  cursor: pointer;
}

.payment-method p:hover {
  background-color: #f1f1f1;
}

.payment-method label img {
  margin-right: 0.5rem;
}

/* Checkmark instead of radio btn*/
/* #1 take the input off-screen for good */
.payment-method input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* #2 add own checkmark */
.payment-method input:checked + label:after {
  content: url('https://res.cloudinary.com/du2vvjrb5/image/upload/v1581191001/frontloops/l1s2-paymeth/check_fjt7xp.svg');
  margin-left: auto;
}

/* Checked label*/
.payment-method input:checked + label {
  padding: 1.5rem 2rem;
  background: #fff;
}

/* Button */

.payment-method .btn {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 500;
  background: var(--colour-blue);
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.btn img {
  width: 1rem;
  margin-left: 0.2rem;
}

button .flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.payment-method .btn:hover {
  background: var(--colour-green);
}

/* footer */

footer {
  margin-top: 5rem;
  font-size: 0.8rem;
  padding: 1rem;
  max-width: 500px;
  font-weight: 700;
  color: #363636;
}

footer a {
  color: var(--colour-blue);
}

footer a:hover {
  color: var(--colour-green);
}
